@import "tailwindcss";

:root {
  --titulo: #a9171a;
  --icones: #7b1e3d;
  --fundo: #fef8f8;
  --borda: #7b7b7c;
  --vermelho: #a40201;
  --branco: #f8f9fa;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--sans);
  line-height: 1.6;
  background-color: #fef8f8;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  font-weight: 600;
}

.titulo {
  color: var(--titulo);
}
