@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --sans: "Source Sans 3", sans-serif;
  --heading: "Source Sans 3", sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

* {
  box-sizing: border-box;
}

safe-padding-mobile {
  padding: 1rem;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--sans);
  line-height: 1.6;
  background-color: #fef8f8;
  color: #333;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  font-weight: 600;
}
